/* Global css */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  resize: none;
  width: 100%;
}

/* TABS */
.etabs-tabs {
  display: flex;
  flex-direction: row;
}

.etabs-tab.visible {
  width: 100%;
  display: flex !important;
}

.etabs-tab-title {
  margin: 0;
}

.moreTabs {
  position: relative;
  color: #333;
  height: 22px;
  padding: 6px 8px 4px;
  border: 1px solid #aaa;
  border-bottom: none;
  border-left: none;
  background: linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(204,204,204,1) 100%);
  font: caption;
  font-size: 14px;
  background-color: #ccc;
  cursor: default;
  width: 100%;
}

/* Static part */
.title {
  font-size: 28px;
  margin: 0;
  margin-bottom: 5px;
}

.toolbar {
  background-color: #7E93C8;
  padding: 10px;
}

.searchBar {
  display: flex;
}

.backButton {
  padding: 0 5px;
}

.searchButton {
  margin: 0 5px;
}

/* Result part */
.fileList {
  padding: 10px;
}

#folderList a {
  display: block;
  padding: 2px 0;
  transition: 0.1s;
  cursor: pointer;
}

#folderList a:hover {
  background-color: rgba(126, 147, 200, 0.5);
}