/* Global css */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

textarea {
  resize: none;
  width: 100%;
}

/* TABS */
.etabs-tabs {
  display: flex;
  flex-direction: row;
}

.etabs-tab.visible {
  width: 100%;
  display: flex !important;
}

.etabs-tab-title {
  margin: 0;
}

.moreTabs {
  position: relative;
  color: #333;
  height: 22px;
  padding: 6px 8px 4px;
  border: 1px solid #aaa;
  border-bottom: none;
  border-left: none;
  background: linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(204,204,204,1) 100%);
  font: caption;
  font-size: 14px;
  background-color: #ccc;
  cursor: default;
  width: 100%;
  order: 1;
}

/* Static part */
.myPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.title {
  font-size: 28px;
  margin: 0;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.title i{
  margin-right: 10px;
}

.folder {
  font-size: 30px;
}

.toolbar {
  background-color: #7E93C8;
  padding: 10px;
}

.searchBar {
  display: flex;
  align-items: center;
}

.backButton {
  padding: 0 5px;
}

.homeButton {
  padding: 0 5px;
}

.homeButton > i{
  margin-top: 5px;
}

.searchButton {
  margin: 0 5px;
  font-weight: bold;
  cursor: pointer;
}

/* Result part */
.fileList {
  padding: 0 10px;
  height: inherit;
  display: flex;
  flex-direction: row-reverse;
}

.fileItem {
  display: flex;
  align-items: center;
  padding: 2px 0;
}

.fileItem > span {
  margin-right: 10px;
  width: 20px;
}

.fileItem > span > i{
  margin: auto;
}

#folderList {
  overflow-y: scroll;
  height: calc(100% - 20px);
  padding: 10px 0;
  flex: 1;
}

#folderList a {
  padding: 2px 0;
  transition: 0.1s;
  cursor: pointer;
  width: 100%;
}

#folderList a:hover {
  background-color: rgba(126, 147, 200, 0.5);
}


/* Actions */
.actions {
  padding: 0 20px;
}

.actions-ctn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}